@app-font-family-name: 'MuGu UI';

@font-face {
  font-family: @app-font-family-name;
  src: url('/fonts/font0829.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@app-font-family-base: @app-font-family-name, -apple-system, BlinkMacSystemFont, 'PingFang SC',
  'Segoe UI', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
